<h4>{{vm.companyName}}</h4>
<p>{{vm.address}}</p>
<ul class="list-unstyled">
    <li><i class="fa fa-phone fa-fw"></i> {{vm.phone}}</li>
    <li><i class="fa fa-envelope-o fa-fw"></i><a href="{{vm.email}}">{{vm.email}}</a>
    </li>
</ul>
<br>
<ul class="list-inline">
    <li ng-if="vm.facebookUrl">
        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
    </li>
    <li ng-if="vm.twitterUrl">
        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
    </li>
</ul>
<hr class="small">
<p class="text-muted">Copyright &copy; {{vm.companyName}} 2016</p>
