header
  div
    h1
      color white

.portfolio-item
  display inline-block
  padding-right 10px
  position relative
  .description
    bottom 5px
    color #fff
    left 0
    position absolute
    width 100%

.modal-content
  .lightbox-image-container
    .lightbox-image-caption
      bottom 5px
      top auto
      margin auto
      left 50%
      font-weight normal
      text-shadow none
      transform translate(-50%, 0)
      span
        background-color transparent
        color white
        box-shadow none
